.background{
background:url(ina2-removebg.png);
background-size:cover;
z-index:-1;
width:100%;
height:100vh;
animation:fadeInFromNone 40s ease-out;
}
@keyframes fadeInFromNone{
0%{
display:none;
opacity:0;}
1%{
display:block;
opacity:0;}
100%{
display:block;
opacity:1;}

}
.cover dice{
background-size:cover;
z-index:1;
width:100%;
height:100vh;
animation:fadeInFromNone 40s ease-out;
}
.slogan h1{
z-index:-1;
position:absolute;
top:60%;
left:50%;
translate:-50% -60%;
}
.loading{
z-index:-1;
height:100px;
width:100px;
border: 6px solid violet;
border-radius:4px;
box-shadow:0 0 8px violet, 0 0 8px violet inset;
position:absolute;
top:50%;
left:50%;
translate:-50% -50%; //置中方法
z-index:10;
animation:2s loading ease-in-out infinite;
}

@keyframes loading{
0%{
transform:rotateX(0) rotateY(0) rotate(0);

}
33%{
transform:rotateX(180deg) rotateY(0) rotate(0);
}
67%{
transform:rotateX(180deg) rotateY(180deg) rotate(0);}

100%{
transform:rotateX(180deg) rotateY(180deg) rotate(180deg);

}

}

.progress-bar{
z-index:-1;
position:absolute;
top:80%;
left:50%;
translate:-50% -80%;
width:50%;
height:20px;
border-radius:20px;
overflow:hidden;
border:1px solid violet;
padding:6px;
}
.progress{
height:100%;
background-color:violet;
box-shadow:0 0 8px violet;
border-radius:15px;
animation:animate 15s linear forwards;
}
@keyframes animate{
0%{
width:0;
}
100%{
width:95%;
}

}